.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #dbdbdb;
}

.logo-bg {
  display: flex;
  align-items: center;
  gap: 22px;
}

.right-container {
  display: flex;
  align-items: center;
  gap: 22px;
}

@media screen and (max-width: 566px) {
  .right-container {
    display: none;
  }
}

.search-container {
  box-sizing: border-box;

  width: 214px;
  height: 28px;

  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.search-input {
  background-color: transparent;
  border: 0px;
  padding-left: 7px;
  outline: none;
  height: 100%;
}

.search-icon {
  width: 36px;
  height: 26px;
  border: 0px;
  background: #dbdbdb;
  border-radius: 0px 2px 2px 0px;
}

.logout-btn {
  width: 86px;
  height: 32px;
  border: 0px;
  background: #4094ef;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Roboto';
}

.link {
  text-decoration: none;
  color: #262626;
}

.link-text {
  font-family: 'Roboto';
  font-weight: 500;
  color: #262626;
}

.color {
  color: #4094ef;
}

.header-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 22px;
}

@media screen and (max-width: 566px) {
  .header-links {
    display: none;
  }
}

@media screen and (min-width: 566px) {
  .menu-container {
    display: none;
  }
}

.insta-logo {
  align-self: center;
  width: 122px;
  margin-top: 12px;
}

.popup-container {
  background-color: #dbdbdb;
  width: 455px;
  height: 345px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.popup-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.list-item {
  font-family: 'Roboto';
  font-size: 24px;
}

.list-button {
  background-color: transparent;
  border: 0px;
  font-family: 'Roboto';
  font-size: 24px;
}

.mobile-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 12px;
}
